# Default ignored files
/shelf/
/workspace.xml
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258.xml
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/anki_db.8oYGzQ.meta
/dataSources.local.xml
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/anki_db.8oYGzQ/schema/information_schema.FNRwLQ.meta
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/anki_db.8oYGzQ/schema/information_schema.FNRwLQ.zip
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/anki_db.8oYGzQ/schema/pg_catalog.0S1ZNQ.meta
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/anki_db.8oYGzQ/schema/pg_catalog.0S1ZNQ.zip
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/postgres.edMnLQ.meta
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/anki_db.8oYGzQ/schema/public.abK9xQ.meta
/dataSources/9bbbcc35-7978-4732-9522-ebda988da258/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
